@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

h1 {
  @apply tracking-wide;
}

.btn-yellow {
  @apply cursor-pointer bg-yellow-100 hover:bg-yellow-300 text-black px-6 py-3 rounded-full font-semibold border-2 transition-all;
}

.option-yellow {
  @apply border-2 cursor-pointer py-3 px-6 rounded-full bg-yellow-100 hover:bg-yellow-200 text-black font-semibold text-lg text-center;
}

.card {
  @apply bg-white text-black p-6 rounded-4xl shadow-md border-2 border-black;
}

.read-more {
  @apply mt-2 text-sm underline cursor-pointer;
}

.filter-btn {
  @apply cursor-pointer rounded transition-all border  hover:bg-gray-300 text-black px-3 py-1 text-sm flex items-center gap-2
}

.dropdown {
  @apply absolute z-10 mt-2 bg-white text-black rounded text-left border border-gray-100
}

.dropdown-label {
  @apply text-sm cursor-pointer px-3 py-2 hover:bg-gray-100 transition-colors
}

.count {
  @apply inline-flex items-center justify-center rounded-full bg-blue-200 w-4 h-4 border
}

body {
  /* background: var(--background); */
  color: black;
}
