@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

h1 {
  @apply tracking-wide;
}

.btn-yellow {
  @apply cursor-pointer bg-yellow-100 hover:bg-yellow-300 text-black px-6 py-3 rounded-full font-semibold border-2 transition-all;
}

.option-yellow {
  @apply border-2 cursor-pointer py-3 px-6 rounded-full bg-yellow-100 hover:bg-yellow-200 text-black font-semibold text-lg text-center
}

.card {
  @apply bg-white text-black p-6 rounded-4xl shadow-md border-2 border-black
}

.read-more {
  @apply mt-2 text-sm underline cursor-pointer
}

body {
  /* background: var(--background); */
  color: black;
}
